/** @format */

@media (max-width: 400px) {
  .letter {
    width: 100%;
    margin: 5px;
  }
  .letter form input {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .grid-slider {
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
}
@media (max-width: 900px) {
  .split {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px;
  }
  .about-me {
    width: 100%;
  }
  .languages {
    width: 100%;
  }
}
@media (max-width: 810px) {
  .text-grid-pics {
    display: flex !important;
    flex-direction: column;
    gap: 0.6em;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
  }
  .section-grid-for-chris form::after {
    right: 35%;
  }
  .right-angle-for-card {
    right: 12%;
  }
  .left-angle-for-card {
    left: 12%;
  }
  .section-cover::after {
    all: revert;
  }
}
@media (min-width: 750px) {
  .links span {
    display: none;
  }
  .btn-contact span {
    display: none;
  }
}

@media (max-width: 811px) {
  .ul-link {
    position: absolute;
    left: 0;
    top: 1px;
    background: #436096;
    width: 100%;
    z-index: 10000;
    height: 30vh;
    overflow-y: scroll;
    display: none;
  }
  .containers{
    background: #0b1242;
  }
  .ul-link::-webkit-scrollbar{
    display: none;
  }
  .links .link-head::before{
    all: revert;
  }
  .links span {
    display: inline-block;
    text-align: right;
    padding: 0 10px;
    font-size: 1.3em;
    cursor: pointer;
    color: #fff;
  }
  .ul-link .links li:hover {
    background: #160a94;
    color: #fff;
    transition: var(--transition-move);
    padding: 0 10px 0 15px;
  }
  .toggle-display {
    display: block;
  }
  .ul-link .links li a {
    text-decoration: none;
    font-size: 1.2em !important;
    color: rgb(195, 195, 201) !important;
    padding: 0 15px;
  }
  .link li a:active {
    color: #436096 !important;
  }

  .inactives {
    color: #fff !important;
    transition: 0.4s ease !important;
  }
  .links li {
    all: revert;
  }

  .links {
    display: flex;
    gap: 0.4em;
    border-radius: 30px;
    line-height: 2.5em;
    transition: 0.4s ease;
    flex-direction: column;
  }
  .links li:hover {
    all: revert;
  }
  .links li a {
    all: revert;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
  }
  .btn-contact {
    display: flex;
    place-items: center;
  }
  .btn-contact button {
    display: none;
  }
  .btn-contact span {
    cursor: pointer;
    font-size: 1.7em;
    color: #fff;
    display: inline-block;
  }
}
@media (max-width: 700px) {
  .firms-flex {
    gap: 3em;
  }
  .categories .separate {
    grid-template-columns: 1fr;
    place-items: revert;
    grid-gap: 2em;
  }

  .section-grid-for-chris form::after {
    all: revert;
  }
  .section-grid-for-chris {
    flex-direction: column;
    gap: 3em;
  }
  .section-grid-for-chris form {
    width: 100%;
  }
  .links-for-contact {
    display: flex;
    gap: 2em;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .test {
    flex-direction: column;
    gap: 1.5em;
    place-items: revert;
    padding: 10px;
  }
  .pagnation {
    margin-top: revert;
  }
  .wrapper-page {
    flex-direction: column;
    gap: 0.6em;
  }
  .wrapper-page textarea {
    width: 100%;
  }
  .swiper {
    overflow: hidden;
  }
}
@media (max-width: 620px) {
  .footer-grid {
    grid-template-columns: 1fr;
    padding: 5px;
  }
  footer {
    padding-top: 50px;
  }
  .exp-port-grid {
    padding: 10px;
  }
  .author-text {
    padding: revert;
  }
  .author-picture img {
    min-width: 200px;
  }
  .speech-grid {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }
  .right-angle-for-card {
    display: none;
  }
  .left-angle-for-card {
    display: none;
  }
  .cover-client {
    transition: 0.4s ease;
  }
  .section-cover {
    background-color: transparent;
    border: none;
  }
  .padding-wrapper {
    margin-top: 30px;
  }
  .language {
    width: 100%;
  }
  .language .progress-bar {
    width: inherit;
  }
}
@media (max-width: 360px) {
  .contacts p:first-child {
    word-wrap: wrap;
  }
  .title-of-page h1 {
    font-size: 2rem;
  }
  .title-of-page p,
  .title-page p {
    font-size: 0.9em;
    text-align: center;
  }
  .title-page h1 {
    font-size: 1.6rem;
  }
  .title-page {
    padding: 0 10px;
  }
  .right-angle-for-card {
    right: 4%;
  }
  .left-angle-for-card {
    left: 4%;
  }
  .spread-lines {
    all: revert;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 13px;
    gap: 0;
  }
  .spread-lines ul li {
    gap: 0.3em;
  }
  .spread-lines ul li .list-line span:first-child {
    font-size: 0.8em;
  }
  .spread-lines ul li .list-line span:last-child {
    font-size: 0.8em;
  }
  .contacts p a {
    font-size: 0.8em;
    font-weight: lighter;
  }
  .conatct-page-for-chris {
    padding: 10px;
  }
  .indus-developm .grid {
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }
  .section-cover {
    background: none;
    border: none;
  }
  .e-card {
    width: 260px !important;
  }
}

@media (max-width: 290px) {
  .cards-for-page {
    width: 220px !important;
  }
  .author-picture {
    width: 220px !important;
    overflow: hidden !important;
    padding: 6px;
  }
  .author-picture img {
    width: 200px !important;
  }
  .e-card {
    width: 220px !important;
  }
  .name h1 {
    font-size: 2.2em !important;
  }
  .swiper-slide {
    width: 180px !important;
    margin: 0 auto;
  }
  .swiper {
    margin: 0 auto;
  }
  .slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my-photos {
    margin: revert;
    margin: 20px auto;
  }
  .ecard-portfolio {
    width: 200px !important;
  }
  .ecard-portfolio img {
    width: 170px !important;
  }
  .section-cover {
    background: none;
    border: none;
  }
  /* .section-grid-for-chris form {
    width: 220px !important;
  } */
  .section-grid-for-chris form h3 {
    font-size: 0.9em;
  }
  .right-angle-for-card,
  .left-angle-for-card {
    display: none !important;
  }
  .spread-lines {
    all: revert;
    display: flex;
    justify-content: space-around;
    width: 160px;
  }
  .first-line li .list-line span,
  .second-line li .list-line span {
    font-size: 0.7em !important;
  }
  .first-line li p i,
  .second-line li p i {
    font-size: 0.8em !important;
  }
  .name {
    margin: revert;
  }
  .speech-grid {
    margin: revert;
  }
  .speech-one p,
  .speech-two p {
    font-size: 0.8em !important;
  }
  .grid-projects-done {
    margin: revert;
    margin-top: 40px;
  }
  .grid-projects-done p {
    font-size: 0.9em;
  }
  .lineing {
    display: none;
  }
  .categories-text h1 {
    font-size: 2.3em !important;
  }
  .view-all-p a {
    padding: revert;
    padding: 12px;
  }
  .article-writeUp {
    padding: 6px;
  }
  .contacts {
    display: none;
  }
  .logo {
    font-size: 0.9em !important;
  }
  .btn-contact button {
    border-radius: 0;
    padding: 0;
    padding: 4px;
    display: none;
  }
  .btn-call button {
    padding: revert;
    padding: 5px;
    font-size: 0.8em;
  }
  .btn-call button:hover i {
    all: revert;
  }
}
@media (max-width: 290px) and (max-height: 320px) {
  .section-grid-for-chris form input,
  .section-grid-for-chris form select {
    height: 13vh;
  }
  .section-grid-for-chris form button {
    height: 13vh;
  }
}
@media (max-width: 390px) {
  .exp-container {
    display: flex;
    flex-direction: column;
    all: revert;
    display: none;
  }
  .box-container {
    margin: 60px 50px;
  }
  .box-container .box:last-child {
    margin-top: 60px;
  }
  .box-container .box {
    line-height: 1.4;
    width: 100%;
  }
  .box-container .box span {
    font-size: 1.6em;
    color: #436096;
  }
  .center-sch {
    all: revert;
  }
  .center-exp {
    all: revert;
  }
  .projects-box {
    display: flex;
    flex-direction: column;
  }
  .about-me .box {
    margin: revert;
    gap: revert;
    width: 100%;
  }
}
@media (min-width: 390px) {
  .sch {
    display: none;
  }
  .exps {
    display: none;
  }
}
@media (min-width: 1024px) {
  .right-angle-for-card {
    display: none;
  }
  .left-angle-for-card {
    display: none;
  }
}
@media (max-width: 266px) {
  .two-boxes {
    flex-direction: column;
    gap: none;
  }
}
